@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #EE4266;
    --second-color: #1e3932;
}

section {
    padding: 50px 10%;
}

*::selection {
    color: #fff;
    background-color: var(--main-color);
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 1rem;
}

.home-text {
    flex: 1 1 7rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-img img {
    width: 75%;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }
    50% {
    transform: translate(0px, -11px);
    }
    100% {
        transform: translate(-11px, 0px);
    }
}

.home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight:bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

/* .home-text .btn {
    margin-top: 40px;
} */

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background: var(--second-color);
}

.heading {
    text-align: center;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 2rem;
    color: var(--main-color);
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 17rem;
}

.about-img img {
    margin: 0;
    padding: 0;
}

.about-text {
    flex: 1 1 17rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.product-container .box {
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.product-container .box .box-img {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.product-container .box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.stars {
    margin: 1rem 0 0.1rem;
}

.product-container .box .stars .bx {
    color: #ebdbc8;
}

.product-container .box h2 {
    color: #ebdbc8;
    font-size: 1.2rem;
}

.product-container .box span {
    color: #ebdbc7 ;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.box .btn {
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}

.box .btn:hover {
    background: #ebdbc8;
    color: var(--second-color)
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-container {
    gap: 1rem;
    margin-top: 1.5rem;
}

.social a {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000;
    border-radius: 50%;
}

.social a .bx:hover {
    background: var(--main-color);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover {
    color: var(--main-color);
}

.shop p {
    text-align: center;
}

@media (max-width: 1150px) {
    header {
        padding: 18px 7%;
    }
    section {
        padding: 50px 7%;
    }
    .home-text h1 {
        font-size: 3rem;
    }
    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 18px 4%;
    }
    #menu-icon {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--second-color)
    }
    .home-text span {
        font-size: 0.9rem;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit;
    }

    .product-container .box {
        margin-top: 6rem;
    }
    .heading h1 {
        font-size: 1.5rem;
    }
    .heading span {
        font-size: 0.9rem;
    }
    .about {
        flex-direction: column-reverse;
    }
}

@media (max-width: 351px) {
    .links {
        display: flex;
        flex-direction: column;
    }
}
  .faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  

  .faq {
    width: 100%;
    border: 1px solid #9FA4A8;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
  }
  
  .faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 1px solid #9FA4A8;
  }
  
  .faq.active::after, .faq.active::before {
    border: 1px solid #9FA4A8;
    color: #2ecc71;
    content: '\f075';
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
  }
  
  .faq.active::before {
    border: 1px solid #9FA4A8;
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  }
  
  .faq-text {
    display: none;
    margin: 30px 0 0;
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
  .faq-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
  }
  
  .faq-toggle:focus {
    outline: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #9FA4A8;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    display: block;
  }
  
  .faq-toggle .fa-chevron-down {
    color: #83888E;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }